{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
	<!-- Header -->
    {% include 'header/index.html.twig' %}
    <!-- Body -->
    <div class="container mt-5">
        <h2>Registration Form</h2>
        <div>
        <h1> hi {{client.nom}}</h1>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

